.create-product-grid-container{
    display: grid;
    grid-template-columns: auto;
    padding-left: 5%;
    padding-right: 5%;
}

mat-form-field{
    width: 100%;
}

.create-product-form{
    text-align: center;
    padding-top: 100px;
    padding-left: 30%;
    padding-right: 30%;;
}