<div *ngFor="let prod of product" class="container">
  <div class="col">
    <img
      [src]="prod.media[0] ? prod.media[0].url : ''"
      alt="{{ prod.productImg }}"
    />
  </div>
  <div class="col">
    <h2>{{ prod.name }}</h2>
    <p>Price : {{ prod.price }}</p>
    <p>In Stock: {{ prod.inStock > 0 ? "Yes" : "No" }}</p>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput [(ngModel)]="quantity" type="number" />
    </mat-form-field>
    <p><app-rating [rating]="prod.rating" [maxRating]="5"></app-rating></p>
    <p>
      <button
        mat-raised-button
        color="primary"
        (click)="addToCart(prod, quantity)"
        [disabled]="hideCartButton"
      >
        Add to Cart
        <mat-icon
          aria-hidden="false"
          aria-label="Shopping cart icon"
          fontIcon="shopping_cart"
        ></mat-icon>
      </button>
    </p>
  </div>
</div>
