.message-list{
    width: 40%;
    margin-left: 30%;
    padding-top: 6%;
    position: absolute;
}
.message-item{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-align: center;
}